@model WebCore_MVC_RateBoard.Models.CombineData

@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<style>
    #flip-box {
        position: absolute;
        margin-left: 150px;
        width: 1150px;
        perspective: 1000px;
    }

    #flip-inner {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 3s;
        transform-style: preserve-3d;
    }

    #flip-front, #flip-back {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    #flip-back {
        transform: rotateY(180deg);
        margin-top: 50px;
    }

    tr .ui-selected {
        background: black;
        color: white
    }

    #trHeading {
        color: yellow;
        background: dodgerblue;
        font-weight: bold;
        font-size: 23px;
        text-align: center;
    }

    #imgCountry {
        height: 30px;
        width: 100px;
        margin-right: 10px;
    }


    #tdCountry {
        width: 300px;
        font-weight: bold;
        color: black;
        font-size: 23px;
    }

    #tdCode {
        color: blue;
        text-align: center;
        font-weight: bold;
        font-size: 23px;
    }

    #tdBuy {
        color: #008000;
        font-weight: bold;
        text-align: center;
        font-size: 23px;
    }

    #tdSale {
        color: #FF6347;
        text-align: center;
        font-weight: bold;
        font-size: 23px;
    }

    #tdTransfer {
        color: Magenta;
        text-align: center;
        font-weight: bold;
        font-size: 23px;
    }

    #dynamictd {
        width: 110px;
        position: relative;
    }

    #txtBox {
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        width: 80px;
        height: 20px;
    }

    #btnEdit {
        position: absolute;
        top: 20px;
        left: 0;
        width: 80px;
        height: 25px;
    }

    #btnPlus {
        position: absolute;
        top: 0px;
        left: 80px;
        height: 20px;
        font-size: 10px;
        width: 30px;
    }

    #btnMinus {
        position: absolute;
        top: 20px;
        left: 80px;
        height: 25px;
        font-size: 10px;
        width: 30px;
    }


    ul {
        list-style-type: none;
        margin-top: 60px;
        float: left;
        width: 50%;
        padding: 0;
    }

        ul li {
            color: yellow;
            background: black;
            text-align: center;
            border: 1px dotted blue;
            height: 100px;
            font-size: 40px;
            font-weight: bold;
        }

    #ulRight .ui-selected {
        background: yellow;
        color: dodgerblue;
    }

    #ulLeft li {
        text-align: left;
    }

    #dynami-li {
        position: relative;
    }

    #txtBox2 {
        position: absolute;
        width: 100px;
        height: 40px;
        left: 400px;
        top: 0;
    }

    #btnSave {
        position: absolute;
        width: 100px;
        height: 40px;
        top: 0;
        left: 500px;
        font-size: 20px;
    }

    #btnGroup {
        position: absolute;
        top: 0px;
    }

    #btnFlip {
    }

    #btnSelectable {
    }

    #btnSortable {
    }

    #ImageTag2 {
        margin-right: 10px;
        width: 200px;
        height: 90px;
    }
</style>


<div id="flip-box">
    <div id="flip-inner">
        <div id="flip-front">
            <table id="table1" border="1" class="table table-striped">
                <thead>
                    <tr id="trHeading">
                        <td id="tdCountryHeading">
                            COUNTRY
                        </td>
                        <td id="tdCodeHeading">
                            CODE
                        </td>
                        <td id="tdBuyHeading">
                            FC BUY
                        </td>
                        <td id="tdSaleHeading">
                            FC SALE
                        </td>
                        <td id="tdTransferHeading">
                            TT Rate
                        </td>
                    </tr>
                </thead>


                <tbody>
                    @foreach (RateModelSql item in Model.rateModels)
                    {
                        <tr>
                            <td id="tdCountry"><img src="@Url.Content(item.Image)" id="imgCountry">@item.Country</td>
                            <td id="tdCode">@item.Code</td>
                            <td id="tdBuy">@item.FCBuy</td>
                            <td id="tdSale">@item.FCSale</td>
                            <td id="tdTransfer">@item.TFRate</td>
                        </tr>

                    }


                </tbody>

            </table>
        </div>

        <div id="flip-back">
            <ul id="ulLeft">
                <li><img src="~/Images/INDIA.png" alt="Imag" id="ImageTag2">INR</li>
                <li><img src="~/Images/PHP.png" alt="Imag" id="ImageTag2">PHP-CASH</li>
                <li><img src="~/Images/PHP.png" alt="Imag" id="ImageTag2">PHP-BANK</li>
                <li><img src="~/Images/BDT.png" alt="Imag" id="ImageTag2">BDT</li>
                <li><img src="~/Images/PAK.png" alt="Imag" id="ImageTag2">PKR</li>
            </ul>

            <ul id="ulRight">
                @foreach (var item in Model.BackScreenRate)
                {
                    <li id="@item.Id">@item.backRate</li>

                }


            </ul>
        </div>

    </div>
</div>

<div class="btn-group-vertical" id="btnGroup">

    <input type="button" id="btnStore" value="Store" class="btn btn-outline-primary">

    <input type="button" id="btnFlip" value="FlipView" class="btn btn-outline-primary">

    <input type="button" id="btnSortable" value="Drag-Sort" class="btn btn-outline-primary">
</div>





<head>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <script type="text/javascript">
        $(document).ready(function () {
            var obj;
            var dynamciControl = '<td id="dynamictd"><input type="text" id="txtBox"><input type="button" id="btnEdit" value="Edit"> <button type="button" id="btnPlus"><a class="fas fa-plus"></a></button> <button type="button" id="btnMinus"><a class="fas fa-minus"></a></button> </td>';

            var objX;
            var control = '<div id="dynami-li"><input type="text" id="txtBox2"><input type="button" id="btnSave" value="Add"></div>';
            var fValue = 0;
            var clearIntervalObj;

             clearIntervalObj = setInterval(StatusCheck, 5000);

 $('tr').selectable({

                selected: function (event, ui) {
                    if ($(ui.selected).hasClass('selectedfilter')) {
                        $(ui.selected).removeClass('selectedfilter').removeClass('ui-selected');
                        $('#dynamictd').remove();
                    }
                    else {
                        $('.ui-selected').removeClass('selectedfilter').removeClass('ui-selected');
                        $('#dynamictd').remove();
                        $(ui.selected).addClass('selectedfilter').addClass('ui-selected');
                        clearInterval(clearIntervalObj);
                        var objD = $('.ui-selected');


                        var tests = parseFloat(objD.text());
                        var len = objD.text().toString().trim().length;
                        var captureNullValue = objD.text().toString().trim();
                        if (!isNaN(tests) || len == 0 || captureNullValue == 'null') {

                            obj = $('.ui-selected');

                            if ($('.ui-selected').next().length > 0) {
                                $('.ui-selected').siblings().last().after(dynamciControl);
                            }
                            else {
                                $('.ui-selected').after(dynamciControl);

                            }
                            $('#txtBox').val(parseFloat(obj.text()));
                        }
                        else {
                            $('.ui-selected').removeClass('selectedfilter').removeClass('ui-selected');
                            alert("String not allowed");
                        }

                    }
                }
            });

            $('#table1').on('click', '#btnEdit', function () {
                
                var x = $('#txtBox').val();

        if (parseFloat(x) || x.trim() == "") {
        obj.text(x);
        $('#txtBox').val('');
        $('#dynamictd').remove();
            $('.ui-selected').removeClass('selectedfilter').removeClass('ui-selected');
            setInterval(StatusCheck, 30000);

    }
    else { alert("Please Enter Valid Data");}

});

$('#table1').on('click', '#btnPlus', function(){
var tests = parseFloat(obj.text());
if(!isNaN(tests)){
if(tests < 0.1){
value = tests;
value += 0.001;
value = value.toFixed(5);
}
else{
value = tests;
value += 0.01;
value = value.toFixed(2);
}

obj.text(value);
$('#txtBox').val(value);
}
});

$('#table1').on('click', '#btnMinus', function(){

var tests = parseFloat(obj.text());
if(!isNaN(tests)){
if(tests < 0.1){
value = tests;
value -= 0.001;
value = value.toFixed(5);
}
else{
value = tests;
value -= 0.01;
value = value.toFixed(2);
}

obj.text(value);
$('#txtBox').val(value);
}
});

$('#ulRight').selectable({
selected:function(event, ui){

if($(ui.selected).hasClass('selectedfilter'))
{
  $(ui.selected).removeClass('selectedfilter').removeClass('ui-selected');
$('#dynami-li').remove();
}
else {
clearInterval(clearIntervalObj);
$('#dynami-li').remove();
$(ui.selected).addClass('selectedfilter').addClass('ui-selected');
objX = $(ui.selected);
$(ui.selected).append(control);

}

}

});

$('#ulLeft').sortable({
cursor:'pointer'

                });

$('#ulRight li').on("click", '#btnSave', function(){
var value = $('#txtBox2').val();
objX.text(value);
    objX.removeClass('selectedfilter').removeClass('ui-selected');
    setInterval(StatusCheck, 30000);
                });

$('#btnSortable').click(function(){
var btnValue = $('#btnSortable').attr('value');
if(btnValue == 'Drag-Sort')
{
$('tr').selectable('destroy');
$('tbody').sortable();
$('#btnSortable').attr('value', 'Back');
}
else{
$('tr').selectable({
selected:function(event, ui){
if($(ui.selected).hasClass('selectedfilter')) {
        $(ui.selected).removeClass('selectedfilter').removeClass('ui-selected');
        $('#dynamictd').remove();
    }
    else {
        $('.ui-selected').removeClass('selectedfilter').removeClass('ui-selected');
         $('#dynamictd').remove();
    $(ui.selected).addClass('selectedfilter').addClass('ui-selected');
    clearInterval(clearIntervalObj);
         var objD = $('.ui-selected');


         var tests = parseFloat(objD.text());
         var len  = objD.text().toString().trim().length;

         if(!isNaN(tests) || len == 0)
         {

        obj = $('.ui-selected');

        if( $('.ui-selected').next().length > 0)
        {
        $('.ui-selected').siblings().last().after(dynamciControl);
        }
        else{
         $('.ui-selected').after(dynamciControl);

        }
        $('#txtBox').val(parseFloat(obj.text()));
        }
        else{
        $('.ui-selected').removeClass('selectedfilter').removeClass('ui-selected');
        alert("String not allowed");
        }

    }
    }
});

    $('#btnSortable').attr('value', 'Drag-Sort');
}

});

$('#btnFlip').click(function(){

if(fValue % 2 == 0)
{

$('#flip-inner').css('transform', 'rotateY(180deg)');
fValue += 1;
}
else{
$('#flip-inner').css('transform', 'rotateY(0deg)');
fValue += 1;
}

});


$('#btnStore').click(function () {

   

                    var backScreenRate = [];
                    for (var i = 1; i < 6; i++) {

                        var BackScreenRateSql = {};
                        BackScreenRateSql.Id = i;
                        BackScreenRateSql.backRate = $('#' + i).text().toString();
                        backScreenRate.push(BackScreenRateSql);

                    }



                    var rateModelsView = [];
                    $('#table1').find('tr:gt(0)').each(function () {
                        var Code = $(this).find('td:eq(1)').text();
                        var FCBuy = $(this).find('td:eq(2)').text();
                        var FCSale = $(this).find('td:eq(3)').text();
                        var TFRate = $(this).find('td:eq(4)').text();

                        var RateModelSql = {};
                        RateModelSql.Code = Code;
                        RateModelSql.FCBuy = FCBuy;
                        RateModelSql.FCSale = FCSale;
                        RateModelSql.TFRate = TFRate;


                        rateModelsView.push(RateModelSql);

                    });

                    $.ajax({
                        type: 'Post',
                        url: '@Url.Action("Index","Home")',
                        data: { rateModelsView: rateModelsView, backScreenRate: backScreenRate },
                        dataType: 'JSON',
                        success: function (response) {
           
                            alert("Successfully Done");
                        },
                        error: function (err) {
                            alert("Error Occured");
                        }

                    });



});


        });

        function AutoRefresh() {
            
            $.ajax({
                type:'GET',
                url: '@Url.Action("TableRefresh","Home")',
                dataType:'Json',
                success: function (response) {
                     var i = 0;
                           $('#table1').find('tr:gt(0)').each(function () {
                                $(this).find('td:eq(2)').text(response.rateModels[i].fcBuy == null ? '':response.rateModels[i].fcBuy);

                                $(this).find('td:eq(3)').text(response.rateModels[i].fcSale == null ? '': response.rateModels[i].fcSale);
                                $(this).find('td:eq(4)').text(response.rateModels[i].tfRate == null ? '': response.rateModels[i].tfRate);
                                i = i + 1;


                            });
                            for (var i = 1; i < 6; i++) {
                               
                                $('#' + i).text(response.backScreenRate[i-1].backRate == null ? '': response.backScreenRate[i-1].backRate);
                            }
                    
                },
                error: function () {

                    alert('Error Occured in Refresh');
                }


            });


        }

        function StatusCheck() {

            $.ajax({
                type: 'Get',
                url: '@Url.Action("StausCheck","Home")',
                dataType: 'Json',
                success: function (data) {
                   
                    if (data.rfStatus) {
                        
                        AutoRefresh();
                    }
                    else {

                    }



                },
                error: function () {
                    alert('Error Occured in Status Check');
                }

            });


        }

    </script>

</head>